---
---

body {
  color: #303030;
}

a {
  &:hover, &:focus {
    color: #D61E1E;
  }
}

.form-group.focus .input-group-btn .btn, .input-group.focus .input-group-btn .btn {
  border-color: #D61E1E;
  color: #D61E1E;
}

.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type="text"], .select2-search input[type="text"]:focus {
  border-color: #D61E1E;
}


.navbar {
  min-height: 71px;
  .navbar-brand {
    font-size: 30px;
    small {
      font-size: 30%;
      font-weight: normal;
      margin-top: -7px;
      position: fixed;
      color: rgba(255,255,255,0.5);
      span {
        font-size: 150%;
      }
    }

    &:hover, &:focus {
      color: #D61E1E;
    }
  }

  .navbar-nav > li > a {
    padding: 24px 21px;
    &:hover, &:focus {
      color: #D61E1E;
    }
  }

  &.navbar-inverse {
    background-color: rgba(48,48,48,0.8);
  }
}



/* -----------------------------------------------------------------------------
 * Home Page
 * -----------------------------------------------------------------------------
 */

.home {
  nav {
    background-color: rgba(255,255,255,0) !important;
    border-bottom: 1px rgba(255,255,255,0.5) solid;
  }
  .navbar-background {
    z-index: 1000;
  }
}

.jumbotron {

  background: #fff url("{{ site.home_bg_url }}") center center;
  background-size: cover;

  position: relative;
  z-index: 1029;

  padding-top: 300px;
  padding-bottom: 100px;

  margin-bottom: 0px;

  color: #fff;

  h1, h2, h3, h4 {
    font-weight: normal;
  }

  .btn {
    // padding: 13px 45px;
    // background-color: #F37356;
    // // border: 2px solid;
    // &:hover, &:focus {
    //   background-color: #F46A4A;//rgba(26,26,26,0.3);
    // }
  }

  .input-group {
    max-width: 400px;
    margin-top: 30px;
    .form-control, .btn {
      height: 60px;
    }
  }
}

.callout-boxes {
  .col-md-6 {
    padding: 100px 50px 50px;
  }
  .first {
    background: #356f90 url("/img/bg/callout-first.png") no-repeat center;
  }
  .second {
    background: #edeff1 url("/img/bg/callout-second.png") no-repeat bottom right;
  }
}



/* -----------------------------------------------------------------------------
 * Search Page
 * -----------------------------------------------------------------------------
 */

.search {
  padding-top: 71px;
}



/* -----------------------------------------------------------------------------
 * Footer
 * -----------------------------------------------------------------------------
 */

footer {
  .ancir-footer {
    background: #303030 url("/img/bg/ancir.jpg") no-repeat top left;
    background-size: auto 500px;
    background-color: #303030;
    background-position: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
    .sociallinks {
      text-decoration: none;
    }
    .col-md-2, .col-md-3, .col-md-4 {
      background-color: rgba(48,48,48,0.7);
      h1, h2, h3, h4 {
        margin-top: 0;
      }
    }

    .btn {
      background-color: #9aa4af;
      &:hover, &:focus {
        background-color: #D61E1E;
      }
    }
  }

  .credit {
    padding-top: 50px;
    padding-bottom: 20px;

    .logos {
      img {
        height: 50px;
        margin: 10px;
        -webkit-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}
