---
---

body {
  color: #303030;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h6 {
  font-size: 20px;
}

a, .btn-link {
  color: #D61E1E;
  &:hover, &:focus {
    color: #F37D7D;
  }
}

.btn-link.disabled, .btn-link[disabled] {
  background-color: transparent;
  color: #bdc3c7;
}


.form-group.focus .input-group-btn .btn, .input-group.focus .input-group-btn .btn, .navbar-default .navbar-form .input-group.focus .form-control, .navbar-default .navbar-form .input-group.focus .input-group-btn .btn, .navbar-default .navbar-form .input-group.focus .select2-search input[type="text"]{
  border-color: #303030;
  color: #303030;
}

.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type="text"], .select2-search input[type="text"]:focus, .navbar-default .navbar-form .form-control:focus, .navbar-default .navbar-form .select2-search input[type="text"]:focus, {
  border-color: #303030;
  color: #303030;
}


.navbar {
  min-height: 71px;
  .navbar-brand {
    font-size: 30px;
    small {
      font-size: 30%;
      font-weight: normal;
      margin-top: -7px;
      position: fixed;
      color: rgba(255,255,255,0.5);
      span {
        font-size: 150%;
      }
    }

    &:hover, &:focus {
      color: #D61E1E;
    }
  }

  .navbar-nav > li > a {
    padding: 24px 21px;
    &:hover, &:focus {
      color: #D61E1E;
    }
  }

  &.navbar-inverse {
    background-color: rgba(48,48,48,1.0);
  }
}



/* -----------------------------------------------------------------------------
 * Home Page
 * -----------------------------------------------------------------------------
 */

.jumbotron {

  background: #fff url("{{ site.home_bg_url }}") center center;
  background-size: cover;

  position: relative;
  z-index: 1029;

  padding-top: 300px;
  padding-bottom: 100px;

  margin-bottom: 0px;

  color: #fff;

  .btn {
    // padding: 13px 45px;
    // background-color: #F37356;
    // // border: 2px solid;
    // &:hover, &:focus {
    //   background-color: #F46A4A;//rgba(26,26,26,0.3);
    // }
  }

  .input-group {
    max-width: 400px;
    margin-top: 30px;
    .form-control, .btn {
      height: 60px;
    }
  }
}

.callout-boxes {
  .col-md-6, .col-sm-6 {
    padding: 100px 50px 50px;
  }
  .first {
    background: #356f90 url("/img/bg/callout-first.png") no-repeat center;
  }
  .second {
    background: #edeff1 url("/img/bg/callout-second.png") no-repeat bottom right;
  }
}



/* -----------------------------------------------------------------------------
 * Search Page
 * -----------------------------------------------------------------------------
 */

.search {
  padding-top: 142px;

  .navbar-search {
    top: 71px;
    min-height: 53px;
    z-index: 1020;
    .navbar-form {
      border: 0px;
      .search-bar {
        width: 100%;
      }
    }

    .share-icons {
      a {
        margin: 0 5px;
        padding: 0 5px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
    
  }

  .docs {
    padding-bottom: 30px;

    .docs-list {

      .doc-attribution {
        margin-bottom: 0;
        small {
          font-size: 65%;
          line-height: 1.5;
        }
      }

      .doc-mentions {
        .media {
          .media-object.img-thumbnail {
            width: 55px;
          }
        }
      }
    }
  }
}



/* -----------------------------------------------------------------------------
 * Page
 * -----------------------------------------------------------------------------
 */

 .page {
  padding-top: 71px;
 }


/* -----------------------------------------------------------------------------
 * Footer
 * -----------------------------------------------------------------------------
 */

footer {
  a {
    &:hover, &:focus {
      color: #D61E1E;
    }
  }
  .ancir-footer {
    background: #303030 url("/img/bg/ancir.jpg") no-repeat top left;
    background-size: auto 500px;
    background-color: #303030;
    background-position: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
    .sociallinks {
      text-decoration: none;
    }
    .col-md-2, .col-md-3, .col-md-4 {
      background-color: rgba(48,48,48,0.7);
      h1, h2, h3, h4 {
        margin-top: 0;
      }
    }

    .btn {
      background-color: #9aa4af;
      &:hover, &:focus {
        background-color: #D61E1E;
      }
    }
  }

  .credit {
    padding-top: 50px;
    padding-bottom: 20px;

    .logos {
      img {
        height: 50px;
        margin: 10px;
        -webkit-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}
