<footer>
<div class="container-fluid">
  <div class="row ancir-footer">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="container credit text-center">
  <p><small>This site provides summaries of documents and their terms to facilitate understanding of important provisions in the documents. These summaries are not interpretations of the documents. Neither the summaries nor the full documents are complete accounts of all legal obligations related to the projects in question. This site also includes document text that was created automatically; such text may contain errors and differences from the original PDF files. No warranty is made to the accuracy of any content on this website.</small></p>
  <hr/>
  <p>
    <a href="/about">About</a> |
    <a href="/blog">Blog</a> |
    <a href="{{ site.github-url }}" target="_blank">Github</a> |
    <a href="{{ site.api-url }}" target="_blank">API</a>
  </p>
  <hr/>
  <p class="logos">
    <img src="/img/logos/cfafrica.png" alt="Code for Africa" />
    <img src="/img/logos/icfj.png" alt="ICFJ" />
    <img src="/img/logos/hha.png" alt="HacksHackers Africa" />
  </p>
  <p>ANCIR is being incubated by <a href="https://codeforafrica.org" target="_blank">Code for Africa</a></p>
  <hr/>
  <p>This work is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>
</div>
</footer>
