<footer>
<div class="container-fluid">
  <div class="row ancir-footer text-center">
    <div class="col-sm-4 col-md-2 col-md-offset-4" style="padding-top: 10px; padding-bottom: 1px;">
      <p><a href="https://investigativecenters.org/" target="_blank">About Us</a></p>
      <p><a href="https://investigativecenters.org/" target="_blank">Our Work</a></p>
      <p><a href="https://investigativecenters.org/" target="_blank">Join Us</a></p>
      <p><a href="https://investigativecenters.org/" target="_blank">Support Us</a></p>
      <hr class="visible-xs" />
    </div>
    <div class="col-sm-4 col-md-3" style="border-right: 1px solid; border-left: 1px solid; padding-top: 15px; padding-bottom: 15px;">
      <h4>Connect</h4>
      <p>
        <a class="sociallinks" href="https://www.facebook.com/AfricaInvestigated" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        <a class="sociallinks" href="https://twitter.com/AfricanCIR" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        <a class="sociallinks" href="https://medium.com/african-c-i-r" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        <a class="sociallinks" href="https://github.com/ANCIR" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        <a class="sociallinks" href="mailto:hello@investigativecenters.org" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        </a>
      </p>
      <hr class="visible-xs" />
    </div>
    <div class="col-sm-4 col-md-3" style="padding-top: 15px; padding-bottom: 15px;">
      <h4>Newsletter</h4>
      <a class="btn btn-lg btn-wide btn-default" href="{{ site.newsletter }}" target="_blank">JOIN OUR MAILING LIST</a>
    </div>
  </div>
</div>

<div class="container credit text-center">
  <div class="row">
    <div class="col-sm-8 text-left">
      <p style="margin-bottom: 20px;"><small>This site provides summaries of documents and their terms to facilitate understanding of important provisions in the documents. These summaries are not interpretations of the documents. Neither the summaries nor the full documents are complete accounts of all legal obligations related to the projects in question. This site also includes document text that was created automatically; such text may contain errors and differences from the original PDF files. No warranty is made to the accuracy of any content on this website.</small></p>
      
      <p style="margin-bottom: 20px;">
        <a href="/">Home</a> |    
        <a href="/search.html">Search</a> |
        <a href="/about.html">About</a> |
        <a href="{{ site.github-url }}" target="_blank">Github</a> |
        <a href="{{ site.api-url }}" target="_blank">API</a>
      </p>

      <p><small>This work is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</small></p>
      <!-- <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p> -->

      <br class="visible-xs" />
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <p class="logos">
        
        <a href="https://codeforafrica.org" target="_blank"><img src="/img/logos/cfafrica.png" alt="Code for Africa" /></a><br/>
        <small>Incubating organisation</small>
      </p>
      <hr style="max-width: 200px; margin: 5px auto; border-color: rgba(186, 193, 200, 0.2);"/>
      <p>sourceAFRICA is built using <a href="https://github.com/documentcloud/documentcloud" target="_blank">DocumentCloud</a></p>
    </div>

  </div>
    
</div> <!-- /.credit -->

</footer>
