<header>

  <div class="navbar navbar-inverse navbar-fixed-top navbar-background"></div>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">
          {{ site.title }}<br/>
          <small>Powered by <span>sourceAFRICA</span></small>
        </a>
        
      </div><!-- /.navbar-header -->
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/search.html">Search</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/blog.html">Blog</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav><!-- /navbar -->

</header>